.book-cover-fallback {
  position: relative;
  margin-bottom: 0.5em; // todo same as book -> variable
  background: linear-gradient(170deg, rgb(114, 11, 11), rgb(87, 6, 6));
  padding-top: 150%;
  height: 0;

  &::after {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    opacity: 0.5;
    border: 1px solid #fff;
    content: "";
  }
}

.book-cover-fallback__title {
  position: absolute;
  bottom: 0;
  padding: 1.25em;
  color: #fff; // todo
  font-family: "IBM Plex Sans Var Italic"; // todo
  font-size: 0.9em; // todo
}
