{
  "extends": [
    "stylelint-config-jenahajek"
  ],
  "rules": {
    "max-empty-lines": 5,
    "string-quotes": 'double',
    "selector-attribute-operator-space-after": null,
    "selector-attribute-operator-space-before": null,
    "rule-empty-line-before": null,
    "at-rule-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "block-closing-brace-newline-after": null
  }
}
